.ecom{
    color: white; 
    text-decoration:none;
    font-size:30px;
}
.navElement{
    margin-left: 20%;
}

.navElement>div>a{
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}
 .search{
    margin-left: 20%;
    display: flex;
}
.searchbtn{
    height: 40px;
    margin-top: 20px;
    margin-left: 5px;
    border: 1px solid white;
}
.suggested-result{
    position: absolute;
    z-index: 99;
    background-color: #fff;
    width: 500px;
    top: 80px;
    left: 35%;
    box-shadow: 2px 3px 5px rgba(116, 129, 251, 0.474);
    font-size: 12px;
    padding-right: 25px;
}
.suggested-result li{
    padding: 2px;
    border-bottom: 2px solid rgba(12, 12, 241, 0.149);
}
.suggested-result li>a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
/*
input{
    padding: 0 100px !important;
} */
/* .search>input{
    width: 100%;
} */

/* Media Query */
@media only screen and (max-width: 992px) {
    .navElement{
        margin-left: 15%;
    }
     .search{
        margin-left: 7%;
    }
    
}
@media only screen and (max-width: 600px) {
    .navbar{
        display: flex;
        justify-content: center;
        /* align-items: center; */
        flex-direction: column;
        height: 20vh;
        /* overflow: hidden; */
    }
    .navElement{
        margin-left: 15%;
    }
     .search{
        margin-left: 7%;
    }
    
}

@media only screen and (max-width: 768px) {
    .navbar{
        display: flex;
        justify-content: center;
        /* align-items: center; */
        flex-direction: column;
        height: 18vh;
        /* overflow: hidden; */
    }
    .navElement{
        margin-left: 2%;
    }
    .navElement>div>a{
        font-size: 18px;
    }
     .search{
        margin-left: 7%;
    }
    
}

@media only screen and (max-width: 600px) {
    .navbar{
        display: flex;
        justify-content: center;
        /* align-items: center; */
        flex-direction: column;
        height: 18vh;
        /* overflow: hidden; */
    }
    .navElement{
        margin-left: 2%;
    }
    .navElement>div>a{
        font-size: 13px;
    }
     .search{
        margin-left: 7%;
    }
    
}

@media only screen and (max-width: 320px) {
    .navbar{
        display: flex;
        justify-content: center;
        /* align-items: center; */
        flex-direction: column;
        height: 18vh;
        /* overflow: hidden; */
    }
    .navElement{
        margin-left: -7%;
    }
    .navElement>div>a{
        font-size: 10px;
    }
     .search{
        margin-left: 2%;
    }
    .example-full-width{
        width: 130px;
    }
    input{
        font-size: 13px;
    }
    .searchbtn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18%;
        height: 30px;
        margin-top: 30px;
    }
    .ecom{
        font-size: 15px;
    }
    
}